.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-light-100);

  border: none;
  outline: none;

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  background-color: red;
}

.secondary {
  background-color: green;
}

.tertiary {
  background-color: blue;
}

.link {
  background-color: yellow;
}
