.buttonTrigger {
  all: unset;
  cursor: pointer;
}

.dropdownMenuContent {
  display: flex;
  flex-direction: column;

  font-size: var(--font-size-m);
  line-height: var(--line-height-s);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 4px;

  &[data-state='open'] {
    animation: fade-in 300ms linear;
  }

  &[data-state='closed'] {
    animation: fade-out 300ms linear;
  }
}

.arrowWrapper {
  fill: var(--color-dark-700);
}

.arrow {
  position: absolute;
  z-index: -1;
  top: -6px;
  left: calc(50% - 6px);
  transform: rotate(45deg);

  width: 0.75rem;
  height: 0.75rem;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-top: none;
  border-left: none;
}

.item {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 6px 8px;

  outline: none;

  &:focus-visible {
    z-index: 1;
    background-color: var(--color-dark-100);
    outline: none;
  }

  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.separator {
  width: 90%;
  height: 1px;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-dark-300);

  &:last-child {
    border-bottom: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
