.root {
  width: 100%;
}

.label {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 12px;

  font-family: inherit;
  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: 24px;
  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 1px;

  &::placeholder {
    color: var(--color-dark-100);
  }

  &.withIcon {
    padding-left: 45px;
  }

  &:active {
    border: 1px solid var(--color-light-100);
  }

  &.error {
    color: var(--color-danger-300);
    border-color: var(--color-danger-300);
  }

  &:focus {
    border-color: var(--color-info-700);
    border-radius: 2px;
    outline: 1px solid var(--color-info-700);
  }

  &:disabled {
    border: 1px solid var(--color-dark-300);
  }
}

.errorText {
  color: red;
}

.inputSearch {
  cursor: pointer;

  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  transform: translateY(-57%);

  width: 20px;
  height: 20px;
  margin-left: 12px;
  padding: 0;

  background: transparent;
  border: 0;
  outline: 0;

  &:focus-visible {
    outline: var(--outline-focus);
  }
}

.searchIcon {
  cursor: pointer;

  padding-right: 9px;
  padding-left: 7px;

  color: var(--color-light-100);

  background-color: #8c61ff;
}

.passwordIcon {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  transform: translateY(-60%);

  width: 20px;
  height: 20px;
  margin-right: 12px;
  padding: 0;

  color: var(--color-light-100);

  border: 0;
  outline: 0;
}
